[user]
    email = anthony.brien@ubisoft.com
    name = Anthony Brien
[color]
  ui = auto
# [color "branch"]
#     current = yellow reverse
#     local = yellow
#     remote = green
[color "status"]
    added = yellow
    changed = green
    untracked = red
[core]
    editor = code --wait
    excludesfile = ~/.gitignore
    # prevent warning about CRLF conversion when using zsh
    safecrlf = false 
    autocrlf = true
[pull]
	rebase = true
[rebase]
	autosquash = true
[diff]
	tool = vscode
    guitool = p4merge
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[alias]
    # stage all
    a = add -A
    abort = rebase --abort
    # Show all of my configured aliases
    aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort
  
    
    changelog = log --pretty=format:\" * %s\"

    # Detect moved or copied lines, and ignore whitespace
    blame = blame -w -M -C
    # Which files are receiving the most "love"
    churn = !git log --all -M -C --name-only --format='format:' "$@" | sort | grep -v '^$' | uniq -c | sort | awk 'BEGIN {print "count,file"} {print $1 "," $2}'
    ci = commit
    co = checkout
    # Show all branches
    br = branch -av
    # View the log and diff for a commit (previous if no SHA1 provided)
    details = log -n1 -p --format=fuller
    # show log history timeline of commits with their files
    fh = !git log --format=format:'%C(bold cyan)%ar %C(reset) %C(green)%f' --name-status
    # View a pretty git log with branch tree
    #g = !git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lga = log --graph --oneline --all --decorate
    lg = log --graph  --pretty='format:%C(yellow)%h%Cred%d%Creset %s %C(green)%an%C(bold blue), %cr' --date=short --abbrev-commit
    markdownlog = log --color --pretty=format:'* %s `%Cred%h%Creset` - %C(bold blue)[%an](mailto:%ae)%Creset' --abbrev-commit --dense --no-merges --reverse
	    # checkout a merge request to inspect it locally.
    mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
    st = status
    stats = diff --stat
    # Return the repository's root directory (usefull for shell prompts)
    root = rev-parse --show-toplevel
    co = checkout
    ci = commit
    st = status
    # Uncommits last commit and places it back in the staging
    uncommit = reset --soft HEAD^
    unstage = reset HEAD
    stats = diff --stat
    unstage = reset --soft HEAD --
    who = shortlog -s --
    wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard


[credential]
    helper = wincred

[advice]
#	statusHints = false

[merge]
    tool = vscode
    stat = true
    guitool = p4merge
    summary = true
[mergetool "vscode"]
    cmd = "code --wait $MERGED"

[url "https://github.com/"]
    insteadOf = gh:
[url "https://gist.github.com/"]
    insteadOf = gist:
[url "https://ubisoft.gitlab.com/"]
    insteadOf = gl:
[http]
    proxy = http://proxy:3128
    sslVerify = true
[https]
    proxy = http://proxy:3128
[url "https://"]
    insteadOf = git://
[branch]
    autosetuprebase = always
[mergetool]
    keepbackup = false
[difftool "p4merge"]
    path = C:/Program Files/Perforce/p4merge.exe
[mergetool "p4merge"]
    path = C:/Program Files/Perforce/p4merge.exe
[difftool "araxis"]
    path = C:/Program Files/Araxis/Araxis Merge/Compare.exe
[mergetool "araxis"]
    path = C:/Program Files/Araxis/Araxis Merge/Compare.exe

[winUpdater]
	recentlySeenVersion = 2.18.0.windows.1
